/* 
.d_bug [class*="col-"] {
    height: 2000px;
} */

.side_bar{
    background-color: yellow;
    height: 100vh;
}
.nav_bar_main{
    background-color: turquoise;
}
.nav_bar{
    background-color: slateblue;
}
.albums{
    height: 80vh;
    overflow: scroll;
}
#site_footer{
    position: fixed;
    left: 0;
    bottom: 0;
}
.foot_row{
    position: relative;
}
.play_music{
    background-color: red;
    
}