/* ******* UTILITY CLASS ******* */
body{
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh; 
    width: 100%;
}
#site_main{
    height: calc(100vh - 80px);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* ******* /UTILITY CLASS ******* */

/* *********************** MAIN CLASS ********************** */

/* ***************** SIDEBAR **************** */
.side_bar{
    background-color: black;
    height:calc(100vh - 80px);
}

/* **** LOGO IMG **** */
.side_bar .logo img{
    width: 60%;
    margin:20px 0;
}
.side_bar .logo img:last-child{
    display: none;
}
/* **** /LOGO IMG **** */

/**** TOP MENU *****/
.side_bar .top_menu{
    height: 80%;
}

/* home_menu */
.home_menu ul{
    margin-bottom: 0;
}
.home_menu ul li{
    margin: 10px 0;
}
.home_menu ul li a {
    color: #A3A3A3;
    font-size: 12px;
    font-weight: 600;
}
.home_menu ul li a img{
    height: 30px;
    margin-right: 10px;
}
#hometxt{
    color:white;
}
/* /home_menu */

/* playlist */
.playlist{
    height: 50%;
    overflow-y: hidden;
}
.playlist .list_play{
    height: 70%;
    overflow-y:auto;
}
.playlist ul li {
    font-size: 12px;
    margin: 10px 0;
    color: #A3A3A3;
}
.playlist h6{
    color:white;
    margin: 20px 0 10px 0;
}
.playlist span{
    color: #A3A3A3;
}
.playlist span i{
    font-size: 30px;
    padding: 10px 12px;
    margin-right: 20px;
    color:white;
    background-color: #A3A3A3;
}
/* /playlist */
/**** /TOP MENU *****/

/**** BOTTOM MENU *****/
/* user id */
.download_app{
    margin-bottom: 5px;
}
.dnld{
    border-bottom:2px solid #A3A3A3;
    padding-bottom: 10px;   
}
.dnld a{
    color: #A3A3A3;
}
.user{
    margin-top: 10px;
}
.download_app a{
    font-size: 12px;
}
.download_app span{
    font-weight: 900;
    font-size: 18px;
    color: white;
}
#download{
    height: 25px;
    margin: 0 10px 0 0;
}
#profile {
    height: 36px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: #A3A3A3 ;
}
/* /user id */
/**** /BOTTOM MENU *****/
/* ***************** /SIDEBAR **************** */



/* ***************** NAVBAR **************** */
/**** nav_bar_album ****/
/* nav_bar */
.nav_bar{
    height: 80px;
    background-color: #080B12;
}
.nav_bar .btn_upgrade{
    width: max-content;
    color: white;
    padding: 5px 20px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: transparent;
}
/* /nav_bar */
/**** /nav_bar_menu ****/
/* ***************** /NAVBAR **************** */



/* ***************** ALBUM **************** */
/**** nav_bar_album ****/
/* albums */
.albums{
    height:calc(100vh - 160px);
    overflow-y: auto;
    background-color:#141922;
}
/* /albums */
/**** /nav_bar_album ****/
/* ***************** /ALBUM **************** */

/* *********************** /MAIN CLASS ********************** */





/* *********************** FOOTER ********************** */
#site_footer{
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    z-index: 2;
    bottom: 0; 
    left: 0;
}   
/* LEFT FOOTER */
#site_footer .left_footer{
    color: #A3A3A3;    
}
#site_footer .left_footer img{
    width:30%;
    padding-right: 10px;   
}
#site_footer .left_footer .left_footer_title span{
    line-height: 20px;
}
#site_footer .left_footer .left_footer_title span:first-child{
    font-weight: 900;
    color: white;
}
#site_footer .left_footer .favorites_icon i{
    padding: 10px 0 0 10px;
    font-size: 20px;
}
/* /LEFT FOOTER */

/* CENTER FOOTER */
#site_footer .center_footer{
   
}
#site_footer .center_footer .control_btn{
    font-size: 1.1rem;
    margin-top: 5px;
    color: white;
}
#site_footer .center_footer .control_btn i:not(:nth-child(3)){
    padding: 10px 30px;
}
#site_footer .center_footer .control_btn i:nth-child(3){
    font-size: 2rem;
    padding: 0.2rem;
    margin: 0 2rem;
}
.time_track span{
    font-size: 10px;
    margin-top: 0.2rem;
}

.time_track .graybar{
    
    width: 500px;
    height: 5px;
    border-radius: 50px;
    background-color: grey;
    margin: 0.5rem 1rem 0 1rem;   
}

.time_track .whitebar{
    width: 150px;
    height: 5px;
    border-radius: 50px;
    background-color: white;
}
/* /CENTER FOOTER */

/* RIGHT FOOTER */
#site_footer .right_footer{
    /* padding:0 30px; */
}
#site_footer .right_footer div:not(.whitebar_volume){
    margin: 0 0 0 20px;
}
#site_footer .right_footer div:not(:last-child){
    color: white;
    
}
.right_footer .graybar_volume{
    width: 150px;
    height: 5px;
    border-radius: 50px;
    background-color: grey;
       
}
.right_footer .whitebar_volume{
    width: 50px;
    height: 5px;
    border-radius: 50px;
    background-color: white;
}
/* /RIGHT FOOTER */
/* *********************** /FOOTER ********************** */

