/* ******* UTILITY CLASS ******* */
body{
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh; 
    width: 100%;
}
#site_main{
    height: calc(100vh - 80px);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* ******* /UTILITY CLASS ******* */




/* *********************** MAIN CLASS ********************** */

/* ***************** SIDEBAR **************** */
.side_bar{
    background-color: black;
    height:calc(100vh - 80px);
}

/* **** LOGO IMG **** */
.side_bar .logo img{
    width: 60%;
    margin:20px 0;
}
.side_bar .logo img:hover{
    width: 80%;
}
.side_bar .logo img:last-child{
    display: none;
}

/* **** /LOGO IMG **** */

/**** TOP MENU *****/
.side_bar .top_menu{
    height: 80%;
    
}

/* home_menu */
.home_menu ul{
    margin-bottom: 0;
    position: relative;
}
.home_menu ul li{
    margin: 10px 0;
    cursor: pointer;
}
.home_menu ul li a {
    color: #A3A3A3;
    font-size: 12px;
    font-weight: 600;
}
.home_menu ul li a:hover{
    font-size: 15px;
}
.home_menu ul li img{
    height: 30px;
    margin-right: 10px;
}
#hometxt{
    color:white;
}
.home_menu ul li:first-child::before {
    content: "";
    display: block;
    width: 3px;
    height: 35px;
    background-color: chartreuse;
    position:absolute;
    top: 10px;
    right: 105%;
}
/* /home_menu */

/* playlist */
.playlist{
    display: flex;
    height: 50%;
    overflow-y: hidden;
}
.playlist .list_play{
    height: 70%;
    overflow-y:auto;
}
.playlist h6{
    color:white;
    margin: 20px 0 10px 0;
}
.playlist .create{
    cursor: pointer;
}
.playlist .create span{
    color: #A3A3A3;   
}
.playlist i{
    font-size: 18px;
    padding: 7px 7px;
    margin-right: 5px;
    color:black;
    background-color: #A3A3A3;
}
.playlist ul li {
    font-size: 12px;
    margin: 10px 0;
    color: #A3A3A3;
    cursor: pointer;
}
.playlist .create:hover span{
    color: white;
    font-size: 17px;
}
.playlist ul li:hover{
    color: white;
    font-size: 15px;
}
.playlist .create:hover i:not(span){
    background-color: white;
}
/* /playlist */
/**** /TOP MENU *****/

/**** BOTTOM MENU *****/
/* user id */
.download_app{
    margin-bottom: 5px;
}
.dnld{
    border-bottom:2px solid #A3A3A3;
    padding-bottom: 10px;   
}
.dnld a{
    color: #A3A3A3;
}
.user{
    margin-top: 10px;
}
.download_app a{
    font-size: 8px;
}
.download_app a:hover{
    font-size: 10px;
}
.download_app span{
    font-weight: 900;
    font-size: 12px;
    color: white;
}
.download_app span:hover{
    font-size: 16px;
}
#download{
    width: 10%;
    margin: 0 10px 0 0;
}
#profile {
    width: 15%;
    margin-right: 10px;
    border-radius: 50px;
    background-color: #A3A3A3 ;
}
/* /user id */
/**** /BOTTOM MENU *****/
/* ***************** /SIDEBAR **************** */






/* ***************** NAVBAR **************** */
/**** nav_bar_album ****/
/* nav_bar */
.nav_bar{
    height: 80px;
    background-color: #080B12;
}
.nav_bar .btn_upgrade{
    width: max-content;
    color: white;
    padding: 5px 20px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: transparent;
}
.nav_bar .btn_upgrade:hover{
    color: white;
    border: 3px solid white;
    font-size: 1rem;
}
/* /nav_bar */
/**** /nav_bar_menu ****/
/* ***************** /NAVBAR **************** */






/* ***************** ALBUM **************** */
/**** nav_bar_album ****/
/*** albums ***/
.albums{
    height:calc(100vh - 160px);
    overflow-y: auto;
    background-color:#141922;
}
h2{ 
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 20px;
    font-weight:900;
    color: white;
}
.albums span{
    font-size: 10px;
    color: #A3A3A3;
}

/* album filter */
.albums .filter_album{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.albums .filter_album ul{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
/* .albums .filter_album ul li{
    display: inline;
} */

.albums .filter_album ul li a{
    color: #A3A3A3;
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 0 10px;
    
}
.albums .filter_album ul li:first-child{
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center;       CON DISPLAY:FLEX FUNZIONA MI VA OUTLINE IL LINK PER VIA DI COLUMN...Sarebbe da fixare*/
}
.albums .filter_album ul li:first-child::after{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: chartreuse;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.albums .filter_album ul li a:hover{
    color: white;
    font-size: 0.8rem;
}
/*  album filter */

/* album cover */
.maring_t_r_10{
    margin-top: 10px;
    margin-right: 10px;
}
.albums img{
    width: 100%;
        
}
h6{
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}
.album_cover span{
    font-size: 10px;
    color: #A3A3A3;
}
.album_thirdrow img, .album_thirdrow .image_album .overlay{
    border-radius: 100%;
}
.album_cover .image_album{
    position: relative;
    overflow:hidden;
    
}
.album_cover .image_album .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translate(0%, 100%);
    transition: all 0.7s;
}
.album_cover .image_album:hover .overlay{
    display: block;
    transform: translate(0, 0);
    /* transition: all 0.7s; */
}
.album_cover .image_album i{
    font-size: 50px;
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);   
}
.album_cover .image_album:hover i{
    display: block;
    transform: translate(-50%,-50%);
    /* transform: translate(0%, -100%); */
    /* transition: all 1s; */
}

/*** /albums ***/

/**** /nav_bar_album ****/
/* ***************** /ALBUM **************** */

/* *********************** /MAIN CLASS ********************** */




/* *********************** FOOTER ********************** */
#site_footer{
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    z-index: 2;
    bottom: 0; 
    left: 0;
}   
/* LEFT FOOTER */
.left_footer{
    display: flex;
    color: #A3A3A3;    
}
.album_img_title{
    display: flex;
}
.track_title{
    display: flex;
    flex-direction: column;
}
.favorites_icon{
    display: flex;
}
.left_footer img{
    width:30%;
    padding-right: 10px;   
}
.left_footer .track_title span{
    line-height: 20px;
}
.left_footer .track_title span:first-child{
    font-weight: 900;
    color: white;
}
.left_footer .favorites_icon i{
    padding: 10px 0 0 10px;
    font-size: 18px;
}
/* /LEFT FOOTER */

/* CENTER FOOTER */
.center_footer .control_btn{
    display: flex;
    font-size: 1.1rem;
    margin-top: 5px;
    color: white;
}
.center_footer .control_btn i:not(:nth-child(3)){
    padding: 10px 30px;
}
.center_footer .control_btn i:nth-child(3){
    font-size: 2rem;
    padding: 0.2rem;
    margin: 0 2rem;
}
.time_track span{
    font-size: 10px;
    margin-top: 0.2rem;
    color:white;
}
.time_track .graybar{
    width: 500px;
    height: 5px;
    border-radius: 50px;
    background-color: grey;
    margin: 0.5rem 1rem 0 1rem;   
}
.time_track .whitebar{
    position:relative;
    width: 150px;
    height: 5px;
    border-radius: 50px;
    background-color: white;
}
.time_track .whitebar:hover{
    background-color: chartreuse;
}
.round{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
    border-radius: 50px;
    display: none;
    background-color: darkgray;
}
.time_track .whitebar:hover .round{
    display: block;
}
/* /CENTER FOOTER */

/* RIGHT FOOTER */
#site_footer .right_footer div:not(.whitebar_volume){
    margin: 0 0 0 0px;
}
#site_footer .right_footer div:not(:last-child){
    color: white;
    
}
.right_footer .graybar_volume{
    width: 100px;
    height: 5px;
    border-radius: 50px;
    background-color: grey;
       
}
.right_footer .whitebar_volume{
    position: relative;
    width: 30px;
    height: 5px;
    border-radius: 50px;
    background-color: white;
}
.right_footer .whitebar_volume:hover{
    background-color: chartreuse;
}
.right_footer .whitebar_volume:hover .round{
    display: block;
}
/* /RIGHT FOOTER */
/* *********************** /FOOTER ********************** */